DATABASE_URL = 'postgresql://studdy_bdoh_user:x4YjRpGn9COf86fDuDU58E309JHkIzA8@dpg-d0rfaiqdbo4c73aa6itg-a.oregon-postgres.render.com/studdy_bdoh'
JWT_SECRET = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjozMCwicm9sZSI6IlN0dWRlbnQiLCJpYXQiOjE3NDg2MzI3NTEsImV4cCI6MTc0ODYzOTk1MX0.6zaugWW7rMkq0kjxBrj0CsSaxonTf1WTdns4FboxhHc'